<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1>
		My friends
	</h1>


	{% if number > 10 %}
		<p> {{number}} is greater than 10 </p>
	{% else %}
		<p> {{number}} is smaller than 10 </p>
	{% endif %}


	{% for f in my_friends %} 
		<h2> {{f}} </h2>
	{% endfor %}

	<form method="POST" action="/submit" enctype="multipart/form-data">
		<input type="text" name="no1" placeholder="Enter first Number">
		<input type="text" name="no2" placeholder="Enter second Number">

		<input type="file" name="userfile">

		<input type="submit">
	</form>


</body>
</html>